body {
    .sidebar-container {
        width: 20em;
    }
}

p {
    text-align: justify !important;
}

.api-ref p {
  text-align: left !important;
}

table {
    width: 100%;
}

button {
    background-color: #09487e;
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    margin: 0.5em 0.5em;
    cursor: pointer;
    width: 95%;
}
